@font-face {
    font-family: mono;
    src: url(mono.woff2);
}

@font-face {
    font-family: chillax;
    src: url(Chillax-Regular.woff);
}
@font-face {
    font-family: satoshi;
    src: url(Satoshi-Light.woff);
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-size: clamp(14px,1.5vw,18px);
    
}

body{
    background-color: #121212;
    color: beige;
    
    

}

@mixin flex-column($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap ;
}

section{
    max-width: 2000px;
    
}

main{
    width: 100%;
    @include flex-column();
    align-items: center;
    

    section.view1{
        width: 100%;
        @include flex-column(1rem);
        align-items: center;
        padding: 1.1rem;
        border-radius: 20px;
        

        .top{
            width:100%;

            img{
                width: 100%; 
                max-width: 100%;
                border-radius: 0.9rem ;
                
            }
        }

        .bottom{
            background-color: #1E1E1E;
            @include flex-column(3.8rem);
            padding: 1.5rem;
            border-radius: 10px;

            p{
                margin-bottom: 1rem;
            }

            .text{
                @include flex-column(0.7rem);

                p{
                    margin-bottom: 1rem;
                text-transform: uppercase;
                font-family: mono;
                color: #ABA9A6;
                font-weight: 900;
                
                }
                h1{
                    font-weight: 400;
                    font-family: chillax;
                    color: #F4F2ED;
                    font-size: clamp(14px, 8vw,40px);
                    text-transform: uppercase;
                }
                p{
                    font-family: satoshi;
                    color: #8A8986;
                    font-size: 1.5rem;
                    // opacity: 0.8;
                    font-weight: 300;
                    // line-height: 1.6;
                }

                .btn{
                    display: flex;
                    align-items: center;
                    padding: 0%;

                    button{
                        width: fit-content;
                        padding: 0.7rem 1rem;
                        border-radius: 50%;
                        color: #ABA9A6 ;
                        border: 1px solid #ABA9A6;
                        background-color: #292929;
                        outline: none;
                        cursor: pointer;
                    }

                    p{
                        margin-left: 0.9rem;
                        margin-bottom: 0%;
                        font-size: 1rem;
                        color: #F4F2ED;
                        font-family: mono;
                        cursor: pointer;
                        
                    }
                }
            }

            
        }
    }

    section.view2{
        @include flex-column(1.5rem);
        width: 100%;
        padding: 1.1rem;
        font-family: chillax;
        .top,.bottom{
            display: flex;
            justify-content: space-around;
            width: 100%;
            .element{
                text-align: center;
                @include flex-column(0.4rem);
                small{
                    opacity: 0.7 ;
                    letter-spacing: 0.1rem;
                    font-weight: 100;
                }
                h2{
                    font-size: 3rem;
                    font-weight: 300;
                }

            }
        

        }
    }

    section.view3{
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);
        
        .top{
            width: 100%;
            img{
                width: 100%;
                max-width: 100%;
                border-radius: 0.9rem;
            }
        }

        .bottom{
            background-color: #1E1E1E;
            @include flex-column(3.8rem);
            padding: 1.5rem;
            border-radius: 10px;


            .text{
                @include flex-column(0.7rem);

              
                h1{
                    font-weight: 400;
                    font-family: chillax;
                    color: #F4F2ED;
                    font-size: clamp(14px, 8vw,40px);
                    text-transform: uppercase;
                }
                .paragraphs{
                    p{
                    
                    font-family: chillax;
                    color: #8A8986;
                    font-size: 1.4rem;
                    // opacity: 0.8;
                    font-weight: 500;
                    // line-height: 1.2;
                    }
                }

                
            }
             
        }
        .bottom>p { 
                margin-bottom: 1rem;
                text-transform: uppercase;
                font-family: mono;
                color: #ABA9A6;
                font-weight: 900;
            }
    }

    section.view4{
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);
        
        .top{
            width: 100%;
            img{
                width: 100%;
                max-width: 100%;
                border-radius: 0.9rem;
            }
        }

        .bottom{
            background-color: #1E1E1E;
            @include flex-column(3.8rem);
            padding: 1.5rem;
            border-radius: 10px;


            .text{
                @include flex-column(0.7rem);

              
                h1{
                    font-weight: 400;
                    font-family: chillax;
                    color: #F4F2ED;
                    font-size: clamp(14px, 8vw,40px);
                    text-transform: uppercase;
                }
                .paragraphs{
                    p{
                    
                    font-family: chillax;
                    color: #8A8986;
                    font-size: 1.4rem;
                    // opacity: 0.8;
                    font-weight: 500;
                    // line-height: 1.2;
                    }
                }

                
            }
             
        }
        .bottom>p { 
                margin-bottom: 1rem;
                text-transform: uppercase;
                font-family: mono;
                color: #ABA9A6;
                font-weight: 900;
            }
    }

    section.view5{
        width: 100%;
        padding: 1.1rem;
        font-family: satoshi;
        font-size: 1.3rem;
        font-weight: 200;
       display: flex;
       justify-content: start;
    }

    section.view6{
        width: 100%;
        padding: 1.1rem;
        @include flex-column(1.8rem);
        
        .card1{
            width: 100%;
            background-image: url(card1.png);
            aspect-ratio: 1/1;
            background-size: cover;
            @include flex-column(0rem);
            justify-content: space-between;
            border-radius: 10px;

            .icon,.bottom{
                display: flex;
                background-color: #b2a79e6c;
                padding: 0.8rem 0.3rem;
                font-size: 0.9rem;
                font-family: chillax;
                font-weight: 100;
                backdrop-filter: blur(0.3rem);
                border: 0.1px solid rgba(255, 255, 255, 0.425) ;
            }

            .top{
                display: flex;
                justify-content: end;
                padding: 1rem 1rem;
                gap: 0.8rem;

                .icon{
                  width: fit-content;
                  border-radius: 50%;
                 padding: 1rem 1rem;
                 font-size: 1.2rem;
                 
                }
            }

            .bottom{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1.2rem 1.2rem;
                margin: 1.5rem;
                border-radius: 10px;
                h2{
                    font-weight: 100;
                    font-family: chillax;
                }
                
            }

        }
         .card2{
            width: 100%;
            background-image: url(card2.png);
            aspect-ratio: 1/1;
            background-size: cover;
            @include flex-column(0rem);
            justify-content: space-between;
            border-radius: 10px;

            .icon,.bottom{
                display: flex;
                background-color: #b2a79e6c;
                padding: 0.8rem 0.3rem;
                font-size: 0.9rem;
                font-family: chillax;
                font-weight: 100;
                backdrop-filter: blur(0.3rem);
                border: 0.1px solid rgba(255, 255, 255, 0.425) ;
            }

            .top{
                display: flex;
                justify-content: end;
                padding: 1rem 1rem;
                gap: 0.8rem;

                .icon{
                  width: fit-content;
                  border-radius: 50%;
                 padding: 1rem 1rem;
                 font-size: 1.2rem;
                 
                }
            }

            .bottom{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1.2rem 1.2rem;
                margin: 1.5rem;
                border-radius: 10px;
                h2{
                    font-weight: 100;
                    font-family: chillax;
                }
            }

        }
         .card3{
            width: 100%;
            background-image: url(card3.png);
            aspect-ratio: 1/1;
            background-size: cover;
            @include flex-column(0rem);
            justify-content: space-between;
            border-radius: 10px;

            .icon,.bottom{
                display: flex;
                background-color: #b2a79e6c;
                padding: 0.8rem 0.3rem;
                font-size: 0.9rem;
                font-family: chillax;
                font-weight: 100;
                backdrop-filter: blur(0.3rem);
                border: 0.1px solid rgba(255, 255, 255, 0.425) ;
            }

            .top{
                display: flex;
                justify-content: end;
                padding: 1rem 1rem;
                gap: 0.8rem;

                .icon{
                  width: fit-content;
                  border-radius: 50%;
                 padding: 1rem 1rem;
                 font-size: 1.2rem;
                 
                }
            }

            .bottom{
                
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1.2rem 1.2rem;
                margin: 1.5rem;
                border-radius: 10px;
                h2{
                    font-weight: 100;
                    font-family: chillax;
                }
            }

        }

    }

    section.view7{
        width: 100%;
        @include flex-column(1rem);
        align-items: center;
        padding: 1.1rem;
        border-radius: 20px;
        

        .top{
            width:100%;

            img{
                width: 100%; 
                max-width: 100%;
                border-radius: 0.9rem ;
                
            }
        }

        .bottom{
            background-color: #1E1E1E;
            @include flex-column(0rem);
            padding: 1.5rem;
            border-radius: 10px;

            p{
                margin-bottom: 1rem;
                 font-family: mono;
                 color: #ABA9A6;
                 font-weight: 900;
                 text-transform: uppercase;
            }
            h1{
                    font-weight: 400;
                    font-family: chillax;
                    color: #F4F2ED;
                    font-size: clamp(14px, 8vw,40px);
                    text-transform: uppercase;
                }

            .text{
                // @include flex-column(0.7rem);

                .btn{
                    display: flex;
                    align-items: center;
                    padding: 0%;
                    padding-top: 3.5rem;

                    button{
                        width: fit-content;
                        padding: 0.7rem 1rem;
                        border-radius: 50%;
                        color: #ABA9A6 ;
                        border: 1px solid #ABA9A6;
                        background-color: #292929;
                        outline: none;
                        cursor: pointer;
                    }

                    p{
                        margin-left: 0.9rem;
                        margin-bottom: 0%;
                        font-size: 1rem;
                        color: #ABA9A6;
                        font-weight: 900;
                        color: #F4F2ED;
                        font-family: mono;
                        cursor: pointer;
                        
                    }
                }
            }

            
        }
    }

    section.view8{
        width: 100%;
        @include flex-column(rem);
        align-items: center;
        padding: 1rem 1rem;
        

        .text{
            width: 100%;
            padding: 1.5rem ;
            background-color: #CEBD63;
            border-radius: 10px;
            color: #121212;
            font-family: chillax;

            .heading h2{
                font-size: 2.7rem;
                font-weight: 400;
                word-spacing: 5px;
                padding: 1rem;
                
            }

            button{
                width: 100%;
                background-color: #121212;
                color: white;
                padding: 1.2rem ;
                border-radius: 0.7rem;
                border: none;
            }
        }
    }

}





@media (min-width:900px){
    main{


        section.view1{
            flex-direction: row;
            padding: 1rem 3rem;
            display: flex;
            align-items: stretch;
            .top,.bottom{
                width: 50vw;
                
            }

            .top{
                display: flex;
                

                img{
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    object-fit:cover;
                    
                }
            }
            .bottom{
                justify-content: space-around;
                padding: 3rem;
                
                .text{
                    
                    display: flex;
                    gap: 1rem;
                    p{
                        font-size: 1rem;
                        
                    }
                }
            }  
            

        }

        section.view2{
            flex-direction: row;
            padding: 1.8rem 1.5rem;
        }

        section.view3{
            flex-direction: row-reverse;
            padding: 1rem 3rem;
            display: flex;
            .top,.bottom{
                width: 50vw;
                
            }

            .top{
                display: flex;

                img{
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .bottom{
                justify-content: space-around;
                padding: 3rem;
                
                .paragraphs{
                    display: flex;
                    gap: 1rem;
                    p{
                        font-size: 1rem;
                        
                    }
                }
            }  
            

        }

        section.view4{
            flex-direction: row;
            padding: 1rem 3rem;
            display: flex;
            .top,.bottom{
                width: 50vw;
                
            }

            .top{
                display: flex;

                img{
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .bottom{
                justify-content: space-around;
                padding: 3rem;
                
                .paragraphs{
                    display: flex;
                    gap: 1rem;
                    p{
                        font-size: 1rem;
                        
                    }
                }
            }  
            

        }
        
        section.view5{
            padding: 1rem 3rem;
        }

        section.view6{
            flex-direction: row;
            padding: 1rem 3rem;
        }

        section.view7{
            flex-direction: row;
            padding: 1rem 3rem;
            display: flex;
            align-items: stretch;
            .top,.bottom{
                width: 50vw;
                
            }

            .top{
                display: flex;
                

                img{
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    object-fit:cover;
                    
                }
            }
            .bottom{
                justify-content: space-around;
                padding: 3rem;
                
                .text{
                    
                    display: flex;
                    gap: 1rem;
                    p{
                        font-size: 1rem;
                        
                    }
                }
            }  
            

        }

    }
}