@font-face {
    font-family: mono;
    src: url(mono.woff2);
}

@font-face {
    font-family: chillax;
    src: url(Chillax-Regular.woff);
}
@font-face {
    font-family: satoshi;
    src: url(Satoshi-Light.woff);
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-size: clamp(14px,1.5vw,18px);
}

body{
    background-color: #121212;
    color: beige;

}

@mixin flex-column($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap ;
}

section{
    max-width: 2000px;
}

main{
    width: 100%;
    @include flex-column();
    align-items: center;
    

    section{
        width: 100%;
        @include flex-column(1rem);
        align-items: center;
        padding: 1.1rem;
        border-radius: 20px;
        

        .top{
            width:100%;

            img{
                width: 100%; 
                border-radius: 10px ;
                
            }
        }

        .bottom{
            background-color: #1E1E1E;
            @include flex-column(3.8rem);
            padding: 1.5rem;
            border-radius: 10px;

            p{
                margin-bottom: 1rem;
            }

            .text{
                @include flex-column(0.7rem);

                p{
                    font-weight: 200;
                    font-family: mono;
                    color: #ABA9A6;
                
                }
                h1{
                    font-weight: 400;
                    font-family: chillax;
                    color: #F4F2ED;
                    font-size: clamp(14px, 8vw,40px);
                    text-transform: uppercase;
                }
                p{
                    font-family: satoshi;
                    color: #8A8986;
                    font-size: 1rem;
                    opacity: 0.8;
                    font-weight: 300;
                    line-height: 1.6;
                }

                .btn{
                    display: flex;
                    align-items: center;
                    padding: 0%;

                    button{
                        width: fit-content;
                        padding: 0.7rem 1rem;
                        border-radius: 50%;
                        color: #ABA9A6 ;
                        border: 1px solid #ABA9A6;
                        background-color: #292929;
                        outline: none;
                        cursor: pointer;
                    }

                    p{
                        margin-left: 0.9rem;
                        font-size: 1rem;
                        color: #F4F2ED;
                        font-family: mono;
                        cursor: pointer;
                        
                    }
                }
            }

            
        }
    }
}



}
@media (min-width:900px){
    main{
        section{
        flex-direction: row;
        padding: 1rem 3rem;

        .top,
        .bottom{
            width: 50vw;
            height: 50vw;
        }

        .top{
            img{
                height: 50vw;
            }
        }

        .bottom{
            justify-content: space-between;
            padding: 1.5rem;
            .text{
                 h1{
                  font-size: clamp(14px, 3.5vw,50px);
                  
                }
                p{
                font-size: 2vw;
               }
               
            }
            
        }

        }
    }
}