*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: sans-serif;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    padding: 2rem 2rem;
}


#left{
    /* background-color: brown; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left h1{
    font-size: 7rem;
    font-weight: 400;
    
    margin: 2rem 2rem;
}

#s2{
    margin: 2rem 2rem;
    /* background-color: cadetblue; */
    padding-bottom:2rem ;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}

#left-bottom{
    /* background-color: aqua; */
    width: fit-content;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border: 1px solid black;
    gap: 5px;
}

#left-bottom #circle1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
}
#left-bottom #circle2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}


#bottom-bottom{
    /* background-color: violet; */
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#bottom-bottom h4{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.856);
}

#bottom-bottom p{
    
}


#right{
/* background-color: darkblue; */
width: 100%;
height: 100%;
padding: 4rem 8rem;
position: relative;
}

#right #top{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;

}

#right #img-container{
    
    height: 100%;
}
#right #img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;    
}

#right #rotate{
    font-size: 2rem;
    font-weight: 500;
    position: absolute;
    rotate: -90deg;
    top: 60%;
    left: -8%;

}

#right #para{
    font-size: 1.55rem;
    font-weight: 100;
    padding: 60px 20px;
    border-radius: 50%;
    text-align: center;
    color: white;
    background-color: rgb(43, 40, 40);
    position: absolute;
    top: 35%;
    right: 7%;

}