*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    background-color: black;
    height: 100%;
    width: 100%;
    font: gilroy;
}
main{
    display: flex;
    gap: 1.5rem;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#box{
    min-width: 200px;
    max-width: 400px ;
    height: 200px;
    background-color: red;
    border-radius: 20px;
    border: 1px solid white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.t:active{
    scale: 0.8;
}
button{
    padding: 18px 18px;
    border-radius: 20px;
    font-size: 1rem;
    border: none;
    color: white;
    background: linear-gradient(red,rgb(54, 20, 20));
}

button:hover{
    background:linear-gradient(rgb(121, 3, 3),black);
    color: rgb(230, 146, 146);
    cursor: pointer;
}
button:active{
    scale: 0.9;
}
