*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: rgb(0, 0, 0);
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: center;
    color: white;
    border-radius: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: black; */
    padding-inline: 10px;
    padding-bottom: 8px;
    border: 0px solid rgba(255, 255, 255, 0);
    box-shadow: inset 0px 0px 50px rgb(252, 104, 104);

    background:  linear-gradient(rgba(14, 13, 13)) padding-box,
                conic-gradient(from var(--rotate),black,rgb(0, 174, 255),black) border-box
                ;

    animation: animate 2s infinite linear ;
    animation-play-state: paused;
    transition: all 0.4s linear;
}

.card:hover{
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0px 0px 50px rgb(0, 225, 255);
    color: blue;
    text-shadow: 0 0 20px rgb(9, 199, 247);
}

.card img{
    width: 100%;    
    
}
 @property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
 }

 @keyframes animate {
    from{
        --rotate:0deg;
    }
    to{
        --rotate:360deg
    }
 }