*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: rgb(0, 0, 0);
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: center;
    color: white;
    border-radius: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: black; */
    padding-inline: 10px;
    padding-bottom: 8px;
    border: 5px solid rgba(255, 255, 255, 0);
    box-shadow: 2px 2px 60px rgb(0, 162, 255);

    background:  linear-gradient(rgba(14, 13, 13)) padding-box,
                conic-gradient(from var(--rotate),black,rgba(43, 43, 119),black) border-box
                ;

    animation: animate 2s infinite;
}
.card img{
    width: 100%;    
    
}
 @property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
 }

 @keyframes animate {
    from{
        --rotate:0deg;
    }
    to{
        --rotate:360deg
    }
 }