*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    
}

main{
    height: 100%;
    width: 100%;
}

#nav1{
    width: 100%;
    height: 50px;
    padding: 10px 40px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav1 #part1{
    display: flex;
    gap: 8px;
}

#nav1 #gola1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}

#nav1 #gola2{
    width: 20px;
    border-radius: 50%;
    height: 20px;
    background-color: black;
}

#nav1 #part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin-right: 70px;
}

#nav1 #part2 h4{
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
#nav1 #part2 h4 span{
    color: rgb(117, 107, 107);
}

#nav2{
    width: 100%;
    height: 50px;
    padding: 10px 40px;
    /* background-color: cyan; */
    display: flex;
    align-items: center;
    gap: 50px;
}

#nav2 h4{
    font-size: 18px;
    font-weight: 500;
}

#content{
    width: 100%;
    height: calc(100% - 100px);
}

#content #text-content{
    width: 100%;
    height:45%;
    /* background-color: rgba(252, 120, 147, 0.747); */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
}
#text-content::-webkit-scrollbar-thumb{
    background-color: orange;
}

.elem{
    flex-shrink: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.elem h1{
    font-size: 150px;
    font-weight: 400;
}

#image-content{
    width: 100%;
    height: 55%;
    /* background-color: crimson; */
    display: flex;
    overflow-x: auto;
}

#image-content::-webkit-scrollbar{
    display: none;
}

#image-content img{
    animation: scroll linear infinite ;
    animation-duration: 30s;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 35%;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-300%);
    }
}
