*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
}

/* .box{
    background-color: red;
    height: 400px;
    width: 400px;
    border-radius: 22px;
    border: 1px solid white;


    /* background: linear-gradient(in oklab to right, white,yellow,purple ); */

/*
    background: radial-gradient(150px at 200px 0px ,yellow,rgba(183, 131, 241, 0.938));
}

*/ 

/* :root{
    --gradi: rgb(100, 128, 0);
}
.box{
    width: 400px;
    height: 400px;
    background-color: var(--gradi);
} */


:root{
    --x:100px;
    --y:100px
}

body{
    background-image: url('https://images.unsplash.com/photo-1506703719100-a0f3a48c0f86?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    width: 100%;
    height: 100%;
    background: radial-gradient(100px at var(--x) var(--y), rgba(186, 238, 241, 0.486),rgba(30, 29, 63, 0.712));

    
}