*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body,main{
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{

    /* primary color */
    --primary-color:rgb(255, 255, 255);

    /* background primary color */
    --bg-primary-color:rgb(29, 28, 28);

    /* food primary color */
    --food-primary-color:rgb(21, 5, 248);
    /* fill bg primary color */
    --fill-bg-primary-color:rgb(5, 255, 18);

    /* paddings */
    --padding-xm:4px;
    --padding-sm:8px;
    --padding-md:16px;
    --padding-lg:32px;
    --padding-xl:40px;
    --padding-2xl:48px;

    /* border-radious */
    --border-radious-xm:4px;
    --border-radious-sm:8px;
    --border-radious-md:16px;
    --border-radious-lg:32px;
    --border-radious-xl:40px;
    --border-radious-2xl:48px;

    
}

section{
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary-color); 
    padding: var(--padding-md);
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.infos{
    width: 100%;

    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
}

.info{
    padding: var(--padding-sm) var(--padding-md);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radious-lg);
    box-shadow:inset 0 0 20px rgb(72, 255, 0);
}

.board{
    width: 100%;
    background-color: var(--bg-primary-color);
    border: 2px solid var(--primary-color);
    flex-grow: 1;


    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(35px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(35px,1fr));
}

.board .block{
    /* background-color: red; */
    /* width: 30px;
    height: 30px; */
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(109, 145, 245, 0.836);
}

.fill{
    /* background-color: var(--fill-bg-primary-color); */
    background: linear-gradient(to right,red,yellow,blue,red,pink,green,purple,crimson);
    
}

.food{
    background-color: var(--food-primary-color);
}

.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    background-color: rgba(85, 78, 78, 0.377);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-game, .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: greenyellow;
}

.game-over{
    display: none ;
}

.btn{
    padding: var(--padding-md) var(--padding-lg);
    border-radius: var(--border-radious-md);
    border: none;
    font-size: 1.3rem;
    color: rgb(14, 231, 14);
    background: linear-gradient(rgb(13, 148, 13),red) ;
    transition: all linear 0.3s;
    cursor: pointer;
}
.btn:hover{
        background: linear-gradient(rgba(42, 235, 13, 0.651),rgb(105, 7, 7)) ;
        color: greenyellow;
        scale: 1.1;
}
.btn:active{
    scale: 0.8;
}