*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body,main{
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{

    /* primary background color */
    --bg-primary-color:rgb(29, 28, 28);

    /* primary color */
    --color-primary:rgb(243, 228, 228);

    /* paddings */
    --padding-xm:4px;
    --padding-sm:8px;
    --padding-md:16px;
    --padding-lg:32px;
    --padding-xl:40px;
    --padding-2xl:48px;

    /* border-radious */
    --border-radious-xm:4px;
    --border-radious-sm:8px;
    --border-radious-md:16px;
    --border-radious-lg:32px;
    --border-radious-xl:40px;
    --border-radious-2xl:48px;

    
}

section{
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary-color); 
    padding: var(--padding-md);
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.infos{
    width: 100%;

    display: flex;
    justify-content: space-between;
    color: var(--color-primary);
}

.info{
    padding: var(--padding-sm) var(--padding-md);
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radious-sm);
}

.board{
    width: 100%;
    background-color: var(--bg-primary-color);
    border: 2px solid var(--color-primary);
    flex-grow: 1;

    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(30px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(30px,1fr));
}

.board .block{
    /* background-color: red; */
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-primary);

   
}